@media screen and (min-width: 768px) {
    .inputLabel {
        display: inline-block;
        width: 150px;
        text-align: left;
        margin-left: 100px;
    }
    .input {
        display: inline-block;
        margin-top: 15px;
        height: 20px;
        width: 250px;
        border: 1px solid black;
        border-radius: 8px;
    }
}
@media screen and (max-width: 768px) {
    .inputLabel {
        display: inline-block;
        width: 150px;
        text-align: left;
        margin-top: 10px;
        margin-right: 100px;
    }
    .input {
        display: inline-block;
        height: 20px;
        width: 250px;
        border: 1px solid black;
        border-radius: 8px;
    }
}

@media screen and (min-width: 768px) {
    .cardButton {
        width: 150px;
        height: 30px;
        margin-top: 10px;
        margin-left: 250px;
        background-color: lightblue;
        border: 1px solid black;
        border-radius: 6px;
        cursor: pointer;
    }  
}
@media screen and (max-width: 768px) {
    .cardButton {
        width: 150px;
        height: 30px;
        margin-top: 10px;
        background-color: lightblue;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
    }  
}